{% load humanize %}
{% if products %}
<div class="my-2">
    <h2 class="font-bold">Search For Product</h2>
    <div class="divider"></div>
    <form method="POST">
        {% csrf_token %}
        <div class="flex flex-row items-end justify-between gap-2">
            <fieldset class="fieldset w-full p-0">
                <legend class="fiedset-legend">Search By</legend>
                <select class="select select-sm w-full" name="search-by" required>
                    {% for key,val in search_by.items %}
                    <option value="{{key}}">{{val}}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="fieldset w-full p-0">
                <legend class="fiedset-legend">Search Value</legend>
                <input class="input input-sm w-full" name="search-value" required>
            </fieldset>
            <button class="btn btn-sm btn-success" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
                <span class="loading loading-spinner htmx-indicator" id="{{class_name}}-indicator"></span>
            </button>
        </div>
    </form>
</div>
<div class="my-2">
    {% for key,value in products.items %}
    <div class="card shadow-xl">
        <div class="card-body">
            <h2 class="font-bold underline underline-offset-1">{{key|title}} Brand</h2>
            <div class="my-2">
                <ul class="menu menu-vertical w-full gap-2">
                    {% for product in value %}
                    <li class="shadow-md p-1">
                        <div class="flex justify-between hover:bg-base-200">
                            <div class="flex flex-col justify-center">
                                <span>{{product.product_name}}</span>
                                <p>Available: <b>{{ product.product_count }}</b></p>
                            </div>
                            <button class="btn btn-sm bnt-info border border-info" type="button"
                                onclick="modal_{{product.productID}}.showModal()">Product Details</button>
                            <dialog class="modal" id="modal_{{product.productID}}">
                                <div class="modal-box">
                                    <form method="dialog">
                                        <button
                                            class="btn btn-sm btn-circle btn-error absolute right-1 top-1">x</button>
                                    </form>
                                    <h2 class="text-xl font-bold uppercase">Product Details</h2>
                                    <div class="divider"></div>
                                    <ul class="menu menu-vertical w-full">
                                        {% for key,val in product.display_fields.items %}
                                        <li class="flex flex-row justify-between">
                                            {% if key not in hide_fields %}
                                            <span>{{key}}</span>
                                            <span>
                                                {% if key == "Product sell price" or key == "Product discount" %}
                                                $ {{val|intcomma}}
                                                {% else %}
                                                {{val}}
                                                {% endif %}
                                            </span>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </dialog>
                            <form method="POST">
                                <div class="flex justify-between items-center gap-1">
                                    <button class="btn btn-sm border border-warning" type="button" hx-post="{% url "
                                        remove_from_cart" %}" hx-target="#product-count-{{product.pk}}"
                                        hx-swap="outerHTML"
                                        hx-indicator="#product-remove-count-{{product.pk}}-indicator"
                                        hx-trigger="click">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-cart-dash" viewBox="0 0 16 16">
                                            <path d="M6.5 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z" />
                                            <path
                                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                        </svg>
                                        <span class="loading loading-spinner text-success htmx-indicator"
                                            id="product-remove-count-{{product.pk}}-indicator"></span>
                                    </button>
                                    <input class="input text-center" name="product-count"
                                        id="product-count-{{product.pk}}" value="{% spaceless %}
                                                    {# 1. Check if the PK exists in the dictionary keys at all #}
                                                    {# Note: This still has the UUID/String mismatch risk #}
                                                    {% if product.pk|slugify in request.session.cart_data.keys|slugify %}
                                                        {% for key, val in request.session.cart_data.items %}
                                                            {% if key|slugify == product.pk|slugify %}{{ val.count }}{% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                {% endspaceless %}" readonly>
                                    <input class="input text-center hidden" name="product-pk" value="{{product.pk}}"
                                        readonly>
                                    <input class="input text-center hidden" name="product-count"
                                        value="{{product.product_count}}" readonly>
                                    <input class="input text-center hidden" name="class-name"
                                        value="{{product.className}}" readonly>
                                    <button class="btn btn-sm border border-success text-center" type="button"
                                        hx-post="{% url " add_to_cart" %}" hx-target="#product-count-{{product.pk}}"
                                        hx-swap="outerHTML" hx-indicator="#product-add-count-{{product.pk}}-indicator"
                                        hx-trigger="click">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path
                                                d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                                            <path
                                                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                                        </svg>
                                        <span class="loading loading-spinner text-success htmx-indicator"
                                            id="product-add-count-{{product.pk}}-indicator"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div role="alert" class="alert alert-info">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span>Stock data for {{class_name}} has not been updated yet.</span>
</div>
{% endif %}