<div class="p-1">
    <div class="flex justify-end w-full my-2 p-2">
        <div class="indicator" id="cart-div">
            {% if not request.session.cart_count %}
                <span class="indicator-item badge border border-primary" id="cart-count">{{request.session.cart_count}}</span>
                <button class="btn border border-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </button>
            {% else %}
                <span class="indicator-item badge border border-success" id="cart-count">{{request.session.cart_count}}</span>
                <a class="btn border border-success" href="{% url "cart_view" %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-row justify-center flex-wrap gap-y-2 gap-x-1" id="btn-details-div">
        {% for key,val in product_categories.items  %}
          
            <button class="btn btn-sm border-primary shadow-xl" 
            type="button"
            popovertarget="{{key}}target"
            style="anchor-name:--{{key}}-anchor"

            >{{key}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
            </svg>
        </button>
        <ul class="dropdown menu w-fit rounded-box bg-base-100 shadow-sm" popover id="{{key}}target"  
        style="position-anchor:--{{key}}-anchor">
            {% for k,v in val.items %}
                <li>
                    <div class="flex justify-between">
                        <a
                        hx-get="{% url "get_sale_products" k %}" hx-target="#product-inventory" hx-indicator="#{{k}}-indicator" hx-swap="innerHTML"
                        >{{v}}</a>
                        <span class="loading loading-spinner htmx-indicator" id="{{k}}-indicator"></span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <div class="p-1" id="product-inventory" hx-get="{% url "get_sale_products" "SmartPhone" %}" hx-trigger="load" hx-target="this" hx-swap="innerHTML" hx-indicator="#SmartPhone-indicator">

    </div>
</div>