{% extends "base.html" %}
{% load humanize %}
{% block title %}Katrina's Electronics Management System{% endblock title %}
{% block navbar_end %}
{% if not request.user.is_authenticated %}
<li>
    <a href="{% url "account_login" %}" class="btn btn-sm btn-primary">Login</a>
</li>
<li>
    <a href="{% url "account_signup" %}" class="btn btn-sm btn-secondary">SignUp</a>
</li>
{% else %}
<li>
    <a href="{% url "dashboard" %}" class="btn btn-sm btn-primary">Dashboard</a>
</li>
<li>
    <a href="{% url "account_logout" %}" class="btn btn-sm btn-error">Logout</a>
</li>
{% endif %}
{% endblock navbar_end %}